<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pic</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="header">
        <a href="/">Index</a>
    </div>
    <div class="archive" style="text-align:center">
        {{ filename }} <br>
        {{ pic_name }}<br>
        <img src="http://{{ bucket }}.qiniudn.com/{{ filename }}" width="160px" height="160px" /> <br>
        内容<br> {{ pic_details }}
    </div>
    <footer>
        <p><a href="/pics">PIC</a><span>&nbsp;&nbsp;</span><a href="/items">ITEMS</a> <br>
            Copyright &copy; 2014 OMENGYE</p>
    </footer>
</body>
</html>