<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>blog demo</title>
    <link href='http://fonts.useso.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="site">
    <div class="header">
        <a href="/">Index</a>
    </div>
    <div style="text-align:center">
        Tag: {{tag}}
    </div>
    {% for entry in entries %}
    <div class="archive">
        <ul>
            <li>
                <div>
                    <h1><a href="/items/{{ entry.slug }}">{{ entry.title }}</a></h1>
                    <div class="date">
                        Published on <strong>{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</strong>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% end %}
    {% if page %}
    <div class="pagination">
        {% if previous %}
        <a href="/?p={{ previous }}">&laquo;</a>
        <a href="/?p={{ previous }}">{{ previous }}</a>
        {% end %}
        <a href="/?p={{ page }}" style="color:black">{{ page }}</a>
        {% if next %}
        <a href="/?p={{ next }}">{{ next }}</a>
        <a href="/?p={{ next }}">&raquo;</a>
        {% end %}
    </div>
    {% end %}
    <footer>
        <p><a href="/tags">TAGS</a><span>&nbsp;&nbsp;</span><a href="/pics">PIC</a>
            <span>&nbsp;&nbsp;</span><a href="/items">ITEMS</a> <br>
            Copyright &copy; 2014 OMENGYE</p>
    </footer>
</div>
</body>
</html>